:{$PORT}

encode gzip

@backend_routes path /_event/* /ping /_upload /_upload/* /stream/* /key/* /content/* /playlist.m3u8 /logo/*
handle @backend_routes {
	reverse_proxy localhost:8000
}

handle {
	root * /srv
	route {
		try_files {path} {path}/ /404.html
		file_server
	}
}
